<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test">
    <parameter name="platformName" value="Android"/>
	<parameter name="platformVersion" value="9.0"/>
	<parameter name="deviceName" value="Any device"/>
    <classes>
      <class name="com.octave.tests.HomePageTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
